@media print {
    .no-print,
    .sidebar,
    .content-header {
        display: none !important;
    }
    .main, #main-container {
        margin-left: 0 !important;
        min-height: 0 !important;
    }
    .report {
        max-width: 900px;
        border: 0 !important;
        margin: auto !important;
        padding: 0;
    }
}